this is result_summary

<div class="page-container">
	<h1> 
		<%= @decision.user.first_name%>: 
		<%= @decision.name%>
	</h1>

	<h3 class="text-center">Assessment Summary</h3>

	<div>
		<hr>
		<h4> What is Important to You</4>
		<br>
		<br>
		<div  style="width: 70%" id="canvas-holder" >
			<canvas id="value-pie"  height="60" width="300"> </canvas>
		</div>
		<hr>
	</div>

	<div>
		<h4> Your Best Option is: 
			<%= @best_option.name %> 
			(Score of <%=@best_option.total_score%> / Max. of <%=@max_points_for_options %> )
			<br>
			<br>
			<div style="width: 60%" id="best-option" data-factornames="<%= @winner_factor_labs %>" 
				data-factormaxscore="<%= @factor_max_labs %>" data-winnerfactorscores="<%= @winner_factor_scores %>"> 

				<canvas id="canvas-best-option" height="80" width="300"></canvas>
			</div>

		</h4>
		<hr>
	</div>


	<div>
		<h4> How All the Options Compared</h4>
		<br>
		<div style="width: 70%" id="all-options" data-optionnames="<%= @ranked_option_names_array %>">
			<canvas id="canvas-all-options" height="60" width="300"></canvas>
		</div>

		<hr>
	</div>

	<div class="col-xs-6 factor-scor">
		<div>
		 <%= link_to "Back: Edit Option Ranking", change_score_decision_path(@decision.id), method: :get, :class => "btn btn-info" %>
		</div>
	</div>

	<div class="col-xs-6 factor-scor">
		<div>
		  <%= link_to "See Detailed Comparison", decision_metrics_path(@decision), method: :get, :class => "btn btn-info" %>
		</div>
	</div>

</div>
