<div class="page-container">
	<h1> 
		<%= @decision.user.first_name%>: 
		<%= @decision.name%>
	</h1>

	<h3>What do you think of each option?</h3>
		<% @factors.each do |factor| %>
			<table class="table">
		      <thead>
			        <tr>
			          <h4>
			          	<%=factor.name %>  (Max Score of <%= factor.max_score%>) 
			          </h4>
			        </tr>
			  </thead>
			      <tbody>
			      	<% @options.each do |option| %>
			        <tr>
			          <td><%= option.name %> </td>
			          <td><%= option.metric(factor) %></td>
			          <td>Edit Options</td>
			        </tr>
			        <% end %>
			      </tbody>
		    </table>
		<% end	%>    

	<div class="col-xs-4 factor-scor">
		<div>
		 <%= link_to "Revise Factors", decision_path(@decision), method: :get, :class => "btn btn-info" %>
		</div>
	</div>
	<div class="col-xs-4 factor-scor">
		<div>
		  <%= link_to "Revise Options", decision_options_path(@decision), method: :get, :class => "btn btn-info" %>
		</div>
	</div>	
	<div class="col-xs-4 factor-scor">
		<div>
		  <%= link_to "Next: Results (not working yet)", decision_options_path(@decision), method: :get, :class => "btn btn-info" %>
		</div>
	</div>	


</div>