
   	<div class ="user-profile-show">
      <h1>  Welcome, <%= @user.first_name %> <%= @user.last_name%></h1>
      Age: <%= @user.age%><br>
      Gender: <%= @user.gender%>
    <div>

    <hr>  

    <%= form_for @decision do |f| %>
      <div>
        <%= f.text_field :name, placeholder: "New decision" %>
      </div>
      <%= f.submit %>
    <% end %>  



  	<div class="decision-list">  
      <h2> Current contemplating <%= @user.decisions.count%> decisions:</h2>
        <% @user.decisions.reverse.each do |decision| %>
          <p>
            	<div class="decision-name">
                <h3>
                  <%= link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe, edit_decision_path(decision), method: :get %>

                  <a><%=link_to decision.name, decision_path(decision), 'data-no-turbolink' => true%>
                  </a>

                  <%= link_to '<i class="fa fa-trash-o"> </i>'.html_safe, decision, method: :delete, data: { confirm: 'Are you sure you want to delete this decision?' }%>
                </h3>
              </div>  
          </p>
          <br>
        <% end %>
    </div>